/*----------------------------------------------*/
/*REGULAR STYLES FOR DESKTOP VIEW*/
/*----------------------------------------------*/
body{
    height: 100vh;
    overflow: hidden;
}

#portfolio-wrapper{
    height: 100vh;
    padding: 0;
}

#left-container{
    height: 100vh;
    position:relative;
}

#left-container > .brand-image{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-65%, 0);
    width: 60%;
}

#left-container > .sideway-slab{
    height: 100vh;
    width: 80%;
    background-color: #F2C94C;
    transform: skew(-10deg, 0) translate(10%, 0);
}

#right-container{
    height: 100vh;
    overflow: scroll;
    padding-bottom: 1%;
}

/*PREVIEW PROJECTS RULES*/
.preview-projects {
    margin: 3% 0 5% 0;
}

.preview-projects .section-title{
    font-weight: bold;
    font-style: italic;
}

/*PROJECT PILL RULES*/
.project-pill{
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 15px 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    transition: all 0.1s ease-out;
    margin-bottom: 15px;
    display: block;
    text-decoration:none;
}

a.project-pill:visited, a.project-pill:active{
    text-decoration: none;
    color:black;
}

.project-pill:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}

.project-pill > .hanger{
    display:inline-block;
    background-color: #F2C94C;
    border-radius: 50%;
    height:12px;
    width: 12px;
    margin-right: 10px;
}

.project-pill > .title{
    font-family: "lato";
    font-size: 1.3em;
    display:inline-block;
    padding: 0;
    margin: 0;
}


/*SECTION CONTAINER RULES*/
.intro-description{
    font-size: 1.3em;
}

.section-container{
    font-family: 'lato';
    font-size: 1.5em;
    margin: 0 5% 0% 5%;
    padding: 1% 4%;
    line-height: 1.8;
}

.section-info > .highlight {
    color: #FFC000;
}

.section-btn{
    font-family: 'lato';
    text-transform: capitalize;
    color: white;
    background-color: black;
    border-radius: 0;
    box-shadow: 4px 4px 0 #FFD400;
    transition: all 0.1s ease-in;
    font-size:0.9em;
}

.section-btn-right{
    float:right;
}

.section-btn:hover{
    transition: all 0.3s ease-in;
    box-shadow: 6px 6px 0 #FFD400;
    color: white;
}

/*HEADING ELEMENT RULES*/
h1.heading-1{
    font-family: 'raleway';
    font-size:1.8em;
    color:white;
    background-color:black;
    display: table;
    padding: 10px;
    text-transform: capitalize;
    position:relative;
    box-shadow: 4px 4px 0 #FFD400;
}

/*NAVIGATION BAR RULES*/
nav{
    margin: 3% 0;
}

ul > li.nav-item > .nav-link{
    color:black;
    font-family: 'Lato';
    font-size:1.3em;
    text-transform:uppercase;
    margin-right: 50px !important;
}

/*EXPERIENCE ENTRY RULES*/
.entry-container{
    margin-bottom: 3%;
}

.entry-container > p{
    font-family: 'Lato';
    text-transform: capitalize;
    margin: 0;
}

.company-name{
    font-size: 1.5em;
    font-weight: bold;
}

.title{
    font-size: 1.4em;
}

.date-range{
    font-size: 1.3em;
}

ul.responsibilities{
    font-family: 'Lato';
    font-size: 1.2em;
}

ul.responsibilities > li::first-letter{
    text-transform: capitalize;
}

/*SKILLS ENTRY RULES*/
.skills-container{
    font-family: "lato";
    display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
    margin: 0 3% 2% 0;
}

.skills-container > .domain {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
}

.skills-container > .skill-list {
    font-size: 1.2em;
}


/*EDUCATION RULES*/
.education-container{
    margin-bottom: 3%;
}

.school, .degree, .email, .text{
    font-family: 'lato';
    font-size: 1.2em;
    margin:0;
}

.school, .degree{
    text-transform: capitalize;
}

/*Project card preview entry*/
.projects-container{
    overflow: scroll;
    height: 100vh;
}

.card{
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    background-color: #FAFAFA;
    margin-top: 10%;
}

.card-tags{
    font-size: 0.9em;
    font-weight: lighter;
    color: rgba(0,0,0,.5);
    text-align: center;
    margin-bottom: 5px;
}

.card-img-top{
    height: 150px;
    padding: 5% 10%;
}

.card-title{
    text-align: center;
}

.project-btn{
    width: 60%;
}



/*----------------------------------------------*/
/*STYLES FOR MOBILE VIEW*/
/*----------------------------------------------*/
@media only screen and (max-width: 600px) {
    body{
        overflow: scroll;
    }

    #left-container{
        height: 55vh;
        transform: skew(0deg, 8deg) translate(0%, -8%);
        overflow:hidden;
    }

    #left-container > .brand-image{
        width: 80%;
        transform: skew(0deg, -8deg) translate(-50%, 0);
    }

    #left-container > .sideway-slab{
        width:100%;
        background-color: #F2C94C;
        transform: skew(0deg, 0deg);
    }

    #right-container{
        height: auto;
    }

    /*SECTION CONTAINER RULES*/
    .section-container{
        font-size: 1.1em;
        padding: 3%;
    }

    .section-btn{
        width:100%;
        float:none;
    }

    /*HEADING ELEMENT RULES*/
    h1.heading-1{
        font-size:1.6em;
        padding:2% 5%;
        margin-left: 5%;
    }

    /*NAVIGATION BAR*/
    nav{
        display: none !important;
    }

    /*EXPERIENCE ENTRY RULES*/
    .entry-container{
        padding: 5%;
    }

    .company-name{
        font-size: 1.3em;
    }

    .title{
        font-size: 1.2em;
    }

    .date-range{
        font-size: 1.1em;
    }

    ul.responsibilities{
        font-size: 1.1em;
    }

    /*SKILLS ENTRY RULES*/
    .skills-container{
        margin: 0 0 2% 5%;
        display:block;
    }

    .skills-container > .domain {
        font-size: 1.4em;
        font-weight: bold;
        margin: 0;
    }

    .skills-container > .skill-list {
        font-size: 1.1em;
    }

    /*EDUCATION RULES*/

    .school, .degree, .email, .text{
        font-family: 'lato';
        font-size: 1.2em;
        margin-left: 5%;
    }

    .school, .degree{
        text-transform: capitalize;
    }
}